<header class="header" [class.scrolled]="isScrolled">
  <div class="header-content">
    <div #moonWrapper class="logo-wrapper moon" [class.dark]="isDarkMode" [class.light]="!isDarkMode"
      (click)="scrollToTop()">
      <span class="logo">RS.</span>
      <div class="crater" *ngFor="let _ of [1,2,3]"></div>
    </div>

    <nav>
      <ul>
        <li (click)="scrollTo('about')">About</li>
        <li (click)="scrollTo('work')">Work</li>
        <li (click)="scrollTo('tech')">Tech Stack</li>
        <li (click)="scrollTo('resume')">Resume</li>
        <li (click)="scrollTo('contact')">Contact</li>
      </ul>
    </nav>
    <div class="right-actions">
      <button class="theme-toggle" (click)="toggleTheme()">
        {{ isDarkMode ? '☀️' : '🌙' }}
      </button>
      <mat-icon class="code-icon" *ngIf="!isCodedPortfolio" (click)="openCodePortfolio()">code</mat-icon>
      <mat-icon class="code-icon" *ngIf="isCodedPortfolio" (click)="goHome()">library_books</mat-icon>
    </div>
  </div>
</header>