.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 16px 0;
  transition: background 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  backdrop-filter: blur(10px) saturate(180%);
  // -webkit-backdrop-filter: blur(10px) saturate(180%);
  box-shadow: none;
    background: rgba(255, 255, 255, 0);

}

.header.scrolled {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 32px;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  flex-shrink: 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  cursor: pointer;
  font-size: 1rem;
}

.right-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  white-space: nowrap;
}

.code-icon {
  font-size: 24px;
  cursor: pointer;
}