<header class="header" [class.scrolled]="isScrolled">
  <div class="header-content">
    <div #moonWrapper class="logo-wrapper moon" [class.dark]="isDarkMode" [class.light]="!isDarkMode"
      (click)="scrollToTop()">
      <span class="logo">RS.</span>
      <div class="crater" *ngFor="let _ of [1,2,3]"></div>
    </div>

    <nav>
      <ul>
        <li (click)="scrollTo('about')">About</li>
        <li (click)="scrollTo('work')">Work</li>
        <li (click)="scrollTo('tech')">Tech Stack</li>
        <li (click)="scrollTo('resume')">Resume</li>
        <li (click)="scrollTo('contact')">Contact</li>
      </ul>
    </nav>
    <div class="right-actions">

      <div class="theme-toggle-wrapper">
        <button #themeToggle class="theme-toggle animated-toggle" (click)="toggleTheme()" [class.dark]="isDarkMode"
          [disabled]="isAnimating">

          <div class="toggle-track">
            <div #toggleSlider class="toggle-slider">
              <div class="slider-content">
                <span #sunIcon class="icon sun-icon" [class.active]="!isDarkMode">☀️</span>
                <span #moonIcon class="icon moon-icon" [class.active]="isDarkMode">🌙</span>
              </div>
            </div>
          </div>
        </button>

        <div #particleContainer class="particle-container"></div>

      </div>
      <mat-icon class="code-icon" *ngIf="!isCodedPortfolio" (click)="openCodePortfolio()">code</mat-icon>
      <mat-icon class="code-icon" *ngIf="isCodedPortfolio" (click)="goHome()">library_books</mat-icon>
    </div>

    <div *ngIf="!isLoggedIn" class="auth-buttons">
  <button mat-button (click)="goToLogin()">Login</button>
  <button mat-button (click)="goToSignup()">Signup</button>
</div>

  </div>
</header>