<header class="header" [class.scrolled]="isScrolled">
  <div class="header-content">

    <!-- LEFT -->
    <div class="header-left">
      <div #moonWrapper class="logo-wrapper moon" [class.dark]="isDarkMode" [class.light]="!isDarkMode"
        (click)="scrollToTop()">
        <span class="logo">RS.</span>
        <div class="crater" *ngFor="let _ of [1,2,3]"></div>
      </div>
    </div>

    <!-- CENTER -->
    <nav class="header-center">
      <ul>
        <li (click)="scrollTo('about')">About</li>
        <li (click)="scrollTo('work')">Projects</li>
        <li (click)="scrollTo('tech')">Tech Stack</li>
        <li (click)="scrollTo('resume')">Resume</li>
        <li (click)="scrollTo('contact')">Contact</li>
      </ul>
    </nav>

    <!-- RIGHT -->
    <div class="header-right">
      <div class="theme-toggle-wrapper">
        <button #themeToggle class="theme-toggle animated-toggle" (click)="toggleTheme()" [class.dark]="isDarkMode"
          [disabled]="isAnimating">
          <div class="toggle-track">
            <div #toggleSlider class="toggle-slider">
              <div class="slider-content">
                <span #sunIcon class="icon sun-icon" [class.active]="!isDarkMode">☀️</span>
                <span #moonIcon class="icon moon-icon" [class.active]="isDarkMode">🌙</span>
              </div>
            </div>
          </div>
        </button>
        <div #particleContainer class="particle-container"></div>
      </div>

      <!-- <mat-icon class="code-icon" *ngIf="!isCodedPortfolio" (click)="openCodePortfolio()">code</mat-icon> -->
      
      <div class="code-icon-container" *ngIf="!isCodedPortfolio" (click)="openCodePortfolio()">
  <mat-icon class="code-icon">code</mat-icon>
  <span class="tooltip">Login to see feature</span>
</div>
<mat-icon class="code-icon" *ngIf="isCodedPortfolio" (click)="goHome()">library_books</mat-icon>

      <div class="auth-buttons" *ngIf="!isLoggedIn">
        <ng-container *ngIf="isDarkMode; else lightLogin">
          <button mat-flat-button class="login" (click)="goToLogin()">
            <span [class.text-black]="isDarkMode" [class.text-white]="!isDarkMode">Login</span>
          </button>
        </ng-container>
        <ng-template #lightLogin>
          <button mat-button class="login" (click)="goToLogin()">
            <span [class.text-black]="!isDarkMode" [class.text-white]="isDarkMode">Login</span>
          </button>
        </ng-template>

        <ng-container *ngIf="!isDarkMode; else lightSignup">
          <button mat-flat-button class="signup" (click)="goToSignup()">
            <span [class.text-black]="isDarkMode" [class.text-white]="!isDarkMode">Signup</span>
          </button>
        </ng-container>
        <ng-template #lightSignup>
          <button mat-button class="signup" (click)="goToSignup()">
            <span [class.text-black]="!isDarkMode" [class.text-white]="isDarkMode">Signup</span>
          </button>
        </ng-template>
      </div>

      <div class="auth-buttons" *ngIf="isLoggedIn">
        <button mat-button (click)="logout()">Logout</button>
      </div>
    </div>

  </div>
</header>